*
    margin: 0
    padding: 0
#map
    width: 400px
    height: 400px
.container
    display: flex
    justify-content: center
    // align-items: center
    margin-top: 20px
.nav
    max-width: 200px
    width: 100%
    margin-right: 20px
    .enterRoute
        width: 100%
    .routes
        width: 100%
        .route
            width: 200px
            padding: 6px
            box-sizing: border-box
            margin: 6px 0
            border: 1px solid
            border-radius: 10px
            display: flex
            justify-content: space-between
            cursor: pointer
        .route:active
            cursor: grabbing
        