* {
  margin: 0;
  padding: 0; }

#map {
  width: 100%;
  height: 400px; }

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  @media screen and (min-width: 769px) and (max-width: 1023px) {
    .container {
      padding: 0 20px;
      box-sizing: border-box; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-items: center; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-items: center; } }

.nav {
  max-width: 200px;
  width: 100%;
  margin-right: 20px; }
  .nav .enterRoute {
    width: 100%;
    height: 4vh;
    border-radius: 8px;
    border: 1px solid #c6c6c6;
    margin: 0 0 8px 0;
    padding-left: 10px;
    box-sizing: border-box; }
    @media screen and (max-width: 1023px) {
      .nav .enterRoute {
        height: 6vh;
        border-radius: 12px; } }
  .nav .routes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    touch-action: none;
    user-select: none; }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .nav {
      margin: 10px 0 0 0;
      max-width: 80%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .nav {
      margin: 10px 0 0 0;
      max-width: 80%; } }

.dragging {
  width: 80%;
  background-color: #fff; }

.route, .routeClone {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab; }
  .route .dragZone, .routeClone .dragZone {
    width: 10%;
    height: 6px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    pointer-events: none; }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      .route .dragZone, .routeClone .dragZone {
        height: 16px;
        border-top: 4px solid grey;
        border-bottom: 4px solid grey; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      .route .dragZone, .routeClone .dragZone {
        height: 10px;
        border-top: 3px solid grey;
        border-bottom: 3px solid grey; } }
  .route .dragZone:hover, .routeClone .dragZone:hover {
    cursor: grab; }
  .route .routeZone, .routeClone .routeZone {
    width: 80%;
    height: 31px;
    padding: 6px;
    box-sizing: border-box;
    margin: 6px 0;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    touch-action: none;
    background-color: #fff;
    user-select: none;
    transition: all 0.35s ease 0s; }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      .route .routeZone, .routeClone .routeZone {
        width: 76%;
        height: 40px; }
        .route .routeZone .routeValue, .routeClone .routeZone .routeValue {
          font-size: 100%; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      .route .routeZone .routeValue, .routeClone .routeZone .routeValue {
        font-size: 100%; }
      .route .routeZone .close, .routeClone .routeZone .close {
        width: 30%; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      .route .routeZone, .routeClone .routeZone {
        width: 76%;
        height: 40px; } }
  .route input, .routeClone input {
    width: 100%;
    border: none; }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .route, .routeClone {
      width: 100%;
      height: 8vh; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .route, .routeClone {
      height: 8vh;
      width: inherit; } }

.map {
  max-width: 600px;
  width: 100%;
  border: 2px solid #c6c6c6;
  border-radius: 30px;
  overflow: hidden; }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .map {
      width: 90%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .map {
      width: 90%; } }

.placeholder {
  width: 80%;
  height: 31px;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 6px 0; }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .placeholder {
      width: 76%;
      height: 40px; }
      .placeholder .routeValue {
        font-size: 100%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .placeholder {
      width: 76%;
      height: 40px; } }

/*# sourceMappingURL=style.css.map */
